{% extends "analyzer/layout.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2 class="mb-4">Resume Analyzer</h2>

        <div id="drop-zone" class="p-5 shadow-sm">
            <i class="bi bi-cloud-arrow-up fs-1 text-primary"></i>
            <p class="mt-3">Drag & Drop Resume Here or <b>Click to Upload</b></p>
            <input type="file" id="file-input" hidden accept=".pdf">
        </div>
        <p class="text-start fw-semibold mt-4 mb-2" style="color: var(--main-text-color);">
            Job Description (Optional)
        </p>

        <textarea
            id="jdInput"
            name="job_description"
            rows="6"
            placeholder="Paste the Job Description here (optional but recommended)"
            class="jd-textarea w-100"
        ></textarea>

        <button id="analyze-btn" class="btn btn-primary btn-lg mt-4 px-5">
            Analyze Resume
        </button>

        <div id="result" class="mt-5 text-start"></div>
    </div>
</div>
{% endblock %}
